html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.jsol {
  color: #2cbf4c
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all .2s;
}

.app_container {
  position: relative;
  height: 100vh;
}

.modal_container {
  position: fixed;
  right: 24px;
  top: 24px;
  z-index: 1000000;
}

.alert_container {
  background-color: white;
  padding: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.alert_content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.alert_icon {
  font-size: 24px;
}

.alert_message {
  color: #2c2c2c;
  font-weight: 700;
  margin: 0;
}

.alert_close {
  cursor: pointer;
  font-size: 16px;
  color: #777
} 

.confirm_container {
  background-color: white;
  padding: 2em;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  width: 400px;
  text-align: center;
}

.confirm_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.confirm_icon {
  font-size: 48px;
  color: #2c2c2c;
}


.confirm_message {
  color: #2c2c2c;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}

.confirm_close {
  cursor: pointer;
  font-size: 16px;
  color: #777
} 

.confirm_btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.confirm_btn-confirm {
  padding: 24px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 18px;
    background-color: hsl(0, 70%, 45%);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
}

.confirm_btn-cancel {
  position: relative;
    padding: 20px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    color: #2c2c2c;
    font-size: 18px;
    border: 2px solid #2c2c2c;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
